<div class="card  gutter-b mat-elevation-z8">
  
  <div *ngIf="isLoading" class="mt-20 mr-13"
    style="display: flex; justify-content: center; align-items: center;">
    <mat-progress-spinner 
     color="primary" 
     mode="indeterminate">
    </mat-progress-spinner>
    </div>

  <table mat-table [dataSource]="dataSource" [ngStyle]="{'display':!isValid ?'none':''}">
  
    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element"> {{ element.id}} </td>
    </ng-container>
   
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="votes_count">
      <th mat-header-cell *matHeaderCellDef> vote </th>
      <td mat-cell *matCellDef="let element"> {{element.votes_count}} </td>
    </ng-container>

    <!-- Symbol Column -->


    <ng-container matColumnDef="day">
      <th mat-header-cell *matHeaderCellDef> date </th>
      <td mat-cell *matCellDef="let element"> {{ element.day}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


  </table>
  
  <mat-paginator [ngStyle]="{'display':!isValid ?'none':''}" [pageSizeOptions]="[5, 10, 30]" showFirstLastButtons></mat-paginator>
</div>
<div *ngIf="isValid===false">
     <p>
      <ngb-alert [dismissible]="false">
        <h1>Warning!</h1>Désolé, aucune donnée n'a été trouvée à cette date.
      </ngb-alert>
    </p>
</div>
