<div class="col-xl-11 ml pl-40">
  <div class="alert alert-custom mt-10 alert-white alert-shadow gutter-b">
    <h4 class="text-dark font-weight-bold my-2 mr-1">
      La liste des produits affichés est de la date d'aujourd'hui</h4>
  </div>

  <div class="card card-custom example example-compact gutter-b">
    
    <div class="card-header">
      <div class="card-title ">
        <h4 class="  font-weight badge badge-pill mt-2 p-5 badge-primary  ml-4">
          List des Produits
        </h4>
      </div>
    </div>

    <div class="row">
      <div class="col-xl-3">
        <div class="card-body mat-elevation-z8 mt-10 ml-6 ">
          <mat-calendar [(selected)]="selectedDate" (selectedChange)="addEvent( $event)"></mat-calendar>
        </div>
      </div>
      <div class="col-xl">
        <div class="card-body ">
          
          <div class="example-events">
            <div *ngFor="let e of events">{{e}}</div>
            <app-table [dateResive]="dateEvent" class="mat-elevation-z8"></app-table>
          </div>

        </div>
      </div>
     
    </div>

      <app-chart [dateTable]="dateEvent" class=" mat-elevation-z8 mt-10 ml-6 " style="width: 29rem"></app-chart> 
      
  </div>

</div>